{% stylesheet %}
  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }
{% endstylesheet %}

{% comment %} [START block.markup] {% endcomment %}
<div class="text-block text-{{ block.settings.alignment }}">
  {{ block.settings.text }}
</div>
{% comment %} [END block.markup] {% endcomment %}

{% comment %} [START block.preset] {% endcomment %}
{% schema %}
{
  "name": "Text",
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "Alignment"
    },
  ],
  "presets": [
    { "name": "Text" },
    {
      "name": "Content",
      "settings": {
        "text": "Hello, world!"
      }
    }
  ]
}
{% endschema %}
{% comment %} [END block.preset] {% endcomment %}
