{% comment %} [START section.assets] {% endcomment %}

<style type="text/css">
  .section {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .section {
      margin-top: 2rem;
    }
  }
</style>

{% comment %} [START section.markup] {% endcomment %}

{% comment %} [END section.assets] {% endcomment %}
<div class="section">
  <h1>{{ section.settings.heading }}</h1>
  <p>{{ section.settings.text }}</p>
</div>
{% comment %} [END section.markup] {% endcomment %}

{% comment %} [START section.schema] {% endcomment %}
{% schema %}
{
  "name": "Text banner",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "text",
      "default": "Give customers details about your store or content on the template.",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Add a Heading",
      "label": "Heading"
    }
  ],
  "presets": [
    {
      "name": "Text banner no blocks",
    }
  ]
}
{% endschema %}
{% comment %} [END section.schema] {% endcomment %}
